Repository mahmoudaboueleneen/FinalProject-14-UA07, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mahmoudaboueleneen, @marwanamgad, @mayaasaadd, @abdelrahmanAbouelkheir, @Ahmedsherif74, @Ibrahim-Soltan, @Hamza-gehad, @khaledmagdy-oss, @mohamedahmedelfar, @RemasOsama, @AhmedSherif9, @hassaballah17, @mohamed-ahmed121

.github/CODEOWNERS:

* @mahmoudaboueleneen
/shared/ @mahmoudaboueleneen
/apigateway/ @marwanamgad @mahmoudaboueleneen
/services/users @mahmoudaboueleneen @mayaasaadd @abdelrahmanAbouelkheir @Ahmedsherif74 @marwanamgad
/services/transactions @Ibrahim-Soltan @Hamza-gehad @khaledmagdy-oss @mohamedahmedelfar @RemasOsama
/services/notifications @Ibrahim-Soltan @Hamza-gehad @khaledmagdy-oss @mohamedahmedelfar @RemasOsama
/services/merchants @AhmedSherif9
/services/search @AhmedSherif9 @hassaballah17 @mohamed-ahmed121
/k8s/ @mahmoudaboueleneen
/bash/ @mahmoudaboueleneen
/observability/ @abdelrahmanAbouelkheir @mahmoudaboueleneen

Add License, Authors, update README
  AUTHORS
  LICENSE
  README.md
Owners: @mahmoudaboueleneen

[Infra] Add K8S Manifests & CI/CD Workflows
  .github/workflows/.gitkeep
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  k8s/apigateway/deployment.yaml
  k8s/apigateway/ingress.yaml
  k8s/apigateway/service.yaml
  k8s/base/.gitkeep
  k8s/services/merchants/deployment.yaml
  k8s/services/merchants/service.yaml
  k8s/services/notifications/deployment.yaml
  k8s/services/notifications/service.yaml
  k8s/services/search/deployment.yaml
  k8s/services/search/service.yaml
  k8s/services/transactions/deployment.yaml
  k8s/services/transactions/service.yaml
  k8s/services/users/deployment.yaml
  k8s/services/users/service.yaml
Owners: @mahmoudaboueleneen

Remove optional dependency graph step from CI
  .github/workflows/ci.yml
Owners: @mahmoudaboueleneen

Remove unnecessary restart: always policy in k8s deployment files
  k8s/apigateway/deployment.yaml
  k8s/services/merchants/deployment.yaml
  k8s/services/notifications/deployment.yaml
  k8s/services/search/deployment.yaml
  k8s/services/transactions/deployment.yaml
  k8s/services/users/deployment.yaml
Owners: @mahmoudaboueleneen

Fix missing output var in 'Get changed files' step in CD workflow
  .github/workflows/cd.yml
Owners: @mahmoudaboueleneen

Replace deprecated output method in CD workflow
  .github/workflows/cd.yml
Owners: @mahmoudaboueleneen

Fix apigateway service name in apigateway ingress
  k8s/apigateway/ingress.yaml
Owners: @mahmoudaboueleneen

Add empty docker compose files for remaining projects
  apigateway/docker-compose.yaml
  services/merchants/docker-compose.yaml
  services/notifications/docker-compose.yaml
  services/search/docker-compose.yaml
  services/transactions/docker-compose.yaml
Owners: @marwanamgad, @mahmoudaboueleneen, @AhmedSherif9, @Ibrahim-Soltan, @Hamza-gehad, @khaledmagdy-oss, @mohamedahmedelfar, @RemasOsama, @hassaballah17, @mohamed-ahmed121

Comment CD workflow for now
  .github/workflows/cd.yml
Owners: @mahmoudaboueleneen

[Users] Fix db ports
  services/users/docker-compose.yaml
Owners: @mahmoudaboueleneen, @mayaasaadd, @abdelrahmanAbouelkheir, @Ahmedsherif74, @marwanamgad

Add DO badge
  README.md
Owners: @mahmoudaboueleneen

[Users] Fix db ports
  docker-compose.yaml
Owners: @mahmoudaboueleneen

Update DO badge color
  README.md
Owners: @mahmoudaboueleneen
